html {
  background-image: url('../img/m_bg.jpg');
  background-repeat: no-repeat;
  background-position: center, center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

body {
  background-color: rgba(0, 0, 0, 0);
}

.well {
  background-color: rgba(0, 0, 0, .85);
  color: white;
}

img {
  border-radius: 8px;
  width: 95%;
}

ul {
  list-style-type: none;
}

.bumper {
  padding-top: 1em;
}

.cardBumper {
  padding-bottom: 5em;
}
